[submodule "sdl2-test/deps/SDL"]
	path = sdl2-test/deps/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "sdl3-test/deps/SDL"]
	path = sdl3-test/deps/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "sdl3-test/deps/SDL_ttf"]
	path = sdl3-test/deps/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "sdl2-test/deps/SDL_ttf"]
	path = sdl2-test/deps/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "sdl2-test/deps/tinygltf"]
	path = sdl2-test/deps/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "sdl2-test/deps/glm"]
	path = sdl2-test/deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "raylib-test/deps/raylib"]
	path = raylib-test/deps/raylib
	url = https://github.com/raysan5/raylib.git
